* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.slide {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; }
  .slide .slide_item {
    position: absolute;
    width: 100%;
    height: 100%; }
    .slide .slide_item ul li {
      position: absolute;
      width: 100%;
      height: 100%;
      list-style: none;
      transition: 0.5s;
      opacity: 0; }
      .slide .slide_item ul li img {
        width: 100%;
        height: 100%; }
    .slide .slide_item ul li.active {
      opacity: 1; }
  .slide .slide_btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%); }
    .slide .slide_btn ul {
      display: flex;
      justify-content: center;
      align-items: center; }
      .slide .slide_btn ul li {
        list-style: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
        margin: 0 10px; }
      .slide .slide_btn ul li.active {
        background: #000; }

/*# sourceMappingURL=main.css.map */
